* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway';
  background-color: #f0f4f7;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.checkbox-round {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 20%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}